<!DOCTYPE html>
<html>

<head>
    <title>Golden For Congress &mdash; Live Tracking Admin</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.0.0-beta/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="https://unpkg.com/axios@0.16.2/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/moment@2.18.1/min/moment.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue@2.4.2/dist/vue.min.js"></script>
</head>

<body>
    <div id="gfc-admin" class="container">
        <h1>Golden For Congress &mdash; Live Tracking Admin</h1>

        <section v-if="action == 'loading'" class="text-center">
            <i class="fa-5x fa-spin fa fa-refresh"></i>
        </section>

        <section v-if="action != 'loading'">
            <button class="btn btn-secondary" v-on:click="action = 'route-list'">Route</button>
            <button class="btn btn-secondary" v-on:click="action = 'media-list'">Media</button>
            <button class="btn btn-secondary" v-on:click="action = 'events-list'">Events</button>

            <button class="btn" v-bind:class="{ 'btn-success': tracking, 'btn-danger': !tracking }" v-on:click="toggleTracking()">{{tracking ? 'Tracking Started' : 'Tracking Stopped'}}</button>
            <button class="btn btn-secondary float-right" v-on:click="location = '/Account/Logout'">Logout</button>
        </section>

        <section v-if="action=='route-list'">
            <a href="#" v-on:click="action = 'menu'"><< Back</a>
            <h2>Route</h2>
            <button class="btn btn-primary" v-on:click="updateRouteCache()">Regenerate Route</button>
            <button class="btn btn-secondary" v-on:click="addSection()">Add Section</button>
            <table class="table table-striped">
                <thead class="thead-default">
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="tbody-default">
                    <tr v-for="section in route">
                        <td>{{displayDate(section.date)}}</td>
                        <td>{{section.description}}</td>
                        <td>
                            <button class="btn btn-primary" v-on:click="location = '/route/gpx/' + section.id">
                                <i class="fa fa-download"></i>
                            </button>
                            <button class="btn btn-secondary" v-on:click="editSection(section)">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-danger" v-on:click="deleteSection(section)">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <form v-if="action == 'route-form'" v-on:submit.prevent="submitSection()">
            <a href="#" v-on:click="action = 'route-list'"><< Back</a>
            <h2>Add/Edit Section</h2>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="date">Date</label>
                    <input id="date" name="date" type="date" class="form-control" v-model="current_section.date" />
                </div>
                <div class="form-group col-sm-6">
                    <label for="color">Line Color</label>
                    <input id="color" name="color" type="color" class="form-control" v-model="current_section.color" style="height: 38px;" />
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input id="description" name="description" type="text" class="form-control" v-model="current_section.description" />
            </div>
            <div class="form-group">
                <label for="maps_url">Google Maps URL</label>
                <input id="maps_url" name="maps_url" type="text" class="form-control" v-model="current_section.maps_url" />
                <button class="btn btn-secondary" v-on:click.prevent="updatePath(current_section.maps_url)">Generate Path</button>
            </div>
            <div class="form-group">
                <label for="path">Path</label>
                <input id="path" name="path" type="text" class="form-control" v-model="current_section.path" />
            </div>
            <input type="hidden" v-model="current_section.id" />
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>

        <section v-if="action=='media-list'">
            <a href="#" v-on:click="action = 'menu'"><< Back</a>
            <h2>Media</h2>
            <button class="btn btn-primary" v-on:click="updateMediaCache()">Publish Media</button>
            <button class="btn btn-secondary" v-on:click="addMedia()">Add Media</button>
            <table class="table table-striped">
                <thead class="thead-default">
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="tbody-default">
                    <tr v-for="m in media">
                        <td>{{displayDate(m.date)}}</td>
                        <td>{{displayMediaType(m.media_type)}}</td>
                        <td>{{m.title}}</td>
                        <td>{{m.description}}</td>
                        <td>
                            <button class="btn" v-on:click="editMedia(m)">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-danger" v-on:click="deleteMedia(m)">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <form v-if="action == 'media-form'" v-on:submit.prevent="submitMedia()">
            <a href="#" v-on:click="action = 'media-list'"><< Back</a>
            <h2>Add/Edit Media</h2>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="date">Date</label>
                    <input id="date" name="date" type="date" class="form-control" v-model="current_media.date" />
                </div>
                <div class="form-group col-sm-6">
                    <label for="media_type">Media Type</label>
                    <select id="media_type" name="media_type" class="form-control" v-model="current_media.media_type">
                        <option value="0">Audio</option>
                        <option value="1">Video</option>
                        <option value="2">Image</option>
                        <option value="3">Text</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" name="title" type="text" class="form-control" v-model="current_media.title" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input id="description" name="description" type="text" class="form-control" v-model="current_media.description" />
            </div>
            <div class="form-group">
                <label for="embedded_content">Embed URL</label>
                <input id="embedded_content" name="embedded_content" type="text" class="form-control" v-model="current_media.embedded_content" />
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input id="address" name="address" type="text" class="form-control" v-model="current_media.address" />
                <button class="btn btn-secondary" v-on:click.prevent="getMediaCoords(current_media.address)">Get Location from Address</button>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input id="location" name="location" type="text" class="form-control" v-model="current_media.location" />
            </div>
            <input type="hidden" v-model="current_media.id" />
            <input type="submit" class="btn btn-primary" value="Submit">

        </form>

        <section v-if="action=='events-list'">
            <a href="#" v-on:click="action = 'menu'"><< Back</a>
            <h2>Events</h2>
            <button class="btn btn-primary" v-on:click="updateEventsCache()">Publish Events</button>
            <button class="btn btn-secondary" v-on:click="addEvent()">Add Event</button>
            <table class="table table-striped">
                <thead class="thead-default">
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="tbody-default">
                    <tr v-for="e in events">
                        <td>{{displayDate(e.date)}}</td>
                        <td>{{e.title}}</td>
                        <td>{{e.description}}</td>
                        <td>
                            <button class="btn" v-on:click="editEvent(e)">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-danger" v-on:click="deleteEvent(e)">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <form v-if="action == 'event-form'" v-on:submit.prevent="submitEvent()">
            <a href="#" v-on:click="action = 'events-list'"><< Back</a>
            <h2>Add/Edit Event</h2>
            <div class="form-group">
                <label for="date">Date</label>
                <input id="date" name="date" type="date" class="form-control" v-model="current_event.date" />
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" name="title" type="text" class="form-control" v-model="current_event.title" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input id="description" name="description" type="text" class="form-control" v-model="current_event.description" />
            </div>
            <div class="form-group">
                <label for="link">Link</label>
                <input id="link" name="link" type="text" class="form-control" v-model="current_event.link" />
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input id="address" name="address" type="text" class="form-control" v-model="current_event.address" />
                <button class="btn btn-secondary" v-on:click.prevent="getEventCoords(current_event.address)">Get Location from Address</button>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input id="location" name="location" type="text" class="form-control" v-model="current_event.location" />
            </div>
            <input type="hidden" v-model="current_event.id" />
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>

    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5BLzWoz9YN6LB5I0JfQzGZL4jXmqB8y4"></script>
    <script type="text/javascript" src="/admin.js"></script>
</body>
</html>