.navbar img {
    height: 40px;
}

#menu-primary li {
    padding: 0 15px;
    display: inline-block;
}

    #menu-primary li a {
        color: #4c4c4c;
    }

        #menu-primary li a:hover {
            color: #ef4836;
            text-decoration: none;
        }

.donate-button a {
    font-size: 14px;
    text-transform: uppercase;
    background-color: #ef4836;
    color: #ffffff;
    font-weight: 600;
    padding: 8px 30px;
}

.mobile-donate-button a {
    color: #fff;
    background-color: #ef4836;
    border: 0;
    border-radius: 0;
    padding: 7px 18px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #menu-primary li {
        padding: 0 7px;
    }

    nav {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

        nav a {
            font-size: 12px !important;
        }
}

#map {
    height: calc(100vw / 1.6);
    max-height: calc(100vh - 200px);
    width: 100%;
}


#feed-app img, .gm-style img {
    width: 100%;
}

.card {
    padding: 10px;
    margin: 15px 0;
}

iframe.video {
    width: 100%;
    height: calc(33vw / 1.6);
}

@media (max-width: 575px) {
    iframe.video {
        height: calc(100vw / 1.6);
    }
}
